.navbar-list
{
    list-style-type: none;/*list ko bullet hatauny*/
}


.navbar-list li a 
{
 text-decoration: none; /*underline hatauny tag*/
 color: white; /*text color garny*/
 font-family: arial;
 font-size: 1rem;
}

.navbar-list li 
{
    float: left; /* list lai left mah float garauny*/
    padding: 15px 15px; /*all side 15px spacening*/
  
}


.navbar-list li:hover
{
    background: #373738;
}



.dropdown-submenu
{
    position: absolute;
    background: #373738;
    display: none; 
    top: 45px;
    margin-left:-15px;
    width: 150px;
}

.dropdown-submenu li
{
 list-style-type: none;
 float:none;
}

.navbar-list li:hover .dropdown-submenu
{
    display: block;
}
.navbar-list li ul li:hover
{
    background: #595a5b;
}


.dropdown-icon
{
    width: 14px;
    height: 12px;
    padding-left: 3px;
}

.dropdown-submenu-submenu 
{
    position: absolute;
    background: #373738;
    display: none; 
    top: 45px;
    margin-left:130px;
    width: 130px;
}
.dropdown-submenu-submenu li 
{
 list-style-type: none;
 float:none;
}

.navbar-list li ul li:hover .dropdown-submenu-submenu
{
   display: block; 
    background: #595a5b;
}